@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --brand100: "#364FC7";
  --brand200: "#3B56D9";
  --gray100: "#212529";
  --gray200: "#343A40";
  --gray300: "#495057";
  --gray400: "#868E96";
  --gray500: "#ADB5BD ";
  --gray600: "#E9ECEF";
  --gray700: "#F1F3F5";
  --gray800: "#F8F9FA";
  --gray900: "#FCFEFF";
  --alert100: "#C73650";
  --alert200: "#DB3C58";
  --success100: "#087F5B";
}

textarea {
  resize: none;
}